<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="A Discord bot to help out with SWGoH.">
<meta name="author" content="Jeff Milner">
<meta charset="utf-8">
<meta property="og:type" content="website">
<meta property="og:url" content="https://swgohbot.com/">
<meta property="og:title" content="SWGoHBot Discord Bot">
<meta property="og:description" content="A Discord bot to help out with SWGoH.">
<meta property="og:site_name" content="SWGoHBot">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="images/botAvatar.png" alt="SWGoHBot Discord avatar image">
<title>SWGoHBot Site</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/swgohbot.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<!-- My scripts for navbar stuff & keeping commands tabs linkable -->
<script src="js/swgohbot.js"></script>
