<nav class="navbar" id="navbar">
	<div class="navbar-brand">
		<img src="https://swgohbot.com/images/botAvatar.png" width="50" height="50" >
		<a href="/">SWGoH Bot</a>
	</div>
    <a class="nav-btn btn-outline-invite hide-mobile"  href="/invite">Invite Bot</a>
    <a class="nav-btn btn-outline-patreon hide-mobile" href="https://www.patreon.com/bePatron?u=8423320">Get Premium</a>
	<a class="nav-links hide-mobile" href="/">Home</a>
	<a class="nav-links hide-mobile" href="/commands">Commands</a>
	<a class="nav-links hide-mobile" href="/faqs">FAQs</a>
	<a class="nav-links hide-mobile no-border" href="/changelog">Changelog</a>
	<span class="navbar-toggle" onclick="toggleNav()">
		<i class="fa fa-bars"></i>
	</span>
</nav>

