<!-- <nav class="navbar" id="navbar"> -->
<!-- 	<div class="navbar&#45;brand"> -->
<!-- 		<img src="https://swgohbot.com/images/botAvatar.png" width="50" height="50" > -->
<!-- 		<a href="/">SWGoH Bot</a> -->
<!-- 	</div> -->
<!--     <a class="nav&#45;btn btn&#45;outline&#45;invite hide&#45;mobile"  href="/invite">Invite Bot</a> -->
<!--     <a class="nav&#45;btn btn&#45;outline&#45;patreon hide&#45;mobile" href="https://www.patreon.com/bePatron?u=8423320">Get Premium</a> -->
<!-- 	<a class="nav&#45;links hide&#45;mobile" href="/">Home</a> -->
<!-- 	<a class="nav&#45;links hide&#45;mobile" href="/commands">Commands</a> -->
<!-- 	<a class="nav&#45;links hide&#45;mobile" href="/faqs">FAQs</a> -->
<!-- 	<a class="nav&#45;links hide&#45;mobile no&#45;border" href="/changelog">Changelog</a> -->
<!-- 	<span class="navbar&#45;toggle" onclick="toggleNav()"> -->
<!-- 		<i class="fa fa&#45;bars"></i> -->
<!-- 	</span> -->
<!-- </nav> -->

<nav class="navbar" id="navbar">
    <div class="navbar-brand">
        <img src="/images/botAvatar.png" width="50" height="50" >
        <a class="hide-mobile" href="/">SWGoH Bot</a>
    </div>
    <a class="nav-btn btn-outline-invite hide-mobile"  href="/invite">Invite Bot</a>
    <a class="nav-btn btn-outline-patreon hide-mobile" href="https://www.patreon.com/bePatron?u=8423320">Get Premium</a>
    <a class="nav-links hide-mobile" href="/">Home</a>
    <a class="nav-links hide-mobile" href="/commands">Commands</a>
    <a class="nav-links hide-mobile" href="/faqs">FAQs</a>
    <a class="nav-links hide-mobile no-border" href="/changelog">Changelog</a>
    <span class="navbar-toggle" onclick="toggleNav()">
        <i class="fa fa-bars"></i>
    </span>

    <div class="nav-right">
        <% if(user) { %>
        <a href="/profile" class="nav-item user-avatar">
            <img src="<%= user.avatarURL %>" width="40" height="40" alt="Your Discord avatar">
        </a>
        <a href="/profile" class="nav-item username hide-mobile">
            <%= user.username %>
        </a>
        <a class="nav-item logout-btn" href="/logout"><i class="fa fa-sign-out"></i></a>
        <% } else { %>
        <a href="/login" class="nav-item login-btn"><i class="fa fa-user"></i>&nbsp;Login</a></li>
    <% } %>
    </div>
</nav>
