<a href="#main-content" class="skip-link">Skip to main content</a>
<nav class="navbar" id="navbar" role="navigation" aria-label="Main navigation">
    <div class="navbar-brand">
        <img src="/images/botAvatar.png" width="50" height="50" alt="SWGoHBot logo">
        <a class="hide-mobile" href="/">SWGoHBot</a>
    </div>

    <div class="nav-right">
        <% if (user) { %>
            <div class="nav-dropdown">
                <button class="nav-dropdown-toggle" id="nav-user-dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="nav-user-menu">
                    <% if (user.avatar) { %>
                        <img
                            src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=64"
                            alt=""
                            width="35"
                            height="35"
                            style="border-radius: 50%; vertical-align: middle;"
                        >
                    <% } %>
                    <span class="hide-mobile"><%= user.username %></span>
                    <i class="fa fa-caret-down hide-mobile" aria-hidden="true" style="margin-left: 0.3em;"></i>
                </button>
                <div class="nav-dropdown-menu" id="nav-user-menu">
                    <a href="/dashboard" class="nav-dropdown-item">Config Page</a>
                    <a href="/logout" class="nav-dropdown-item">Log out</a>
                </div>
            </div>
        <% } else { %>
            <a class="nav-btn btn-outline-login" href="/login">Login</a>
        <% } %>
    </div>

    <a class="nav-btn btn-outline-invite hide-mobile"  href="/invite">Invite Bot</a>
    <a class="nav-btn btn-outline-patreon hide-mobile" href="https://www.patreon.com/bePatron?u=8423320">Get Premium</a>
    <a class="nav-links hide-mobile" href="/">Home</a>
    <a class="nav-links hide-mobile" href="/commands">Commands</a>
    <a class="nav-links hide-mobile" href="/faqs">FAQs</a>
    <a class="nav-links hide-mobile" href="/about">About</a>

    <button class="navbar-toggle" id="navbar-toggle" aria-label="Toggle navigation menu" aria-expanded="false" aria-controls="navbar">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
</nav>
