<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") -%>
    </head>

    <body>
        <header>
            <%- include("../partials/nav") -%>
        </header>

        <div class="column w80 autoMargin">
            <h2>About</h2>
            <hr>
            <p>
                Firstly, <strong>Thank You</strong> to everyone in the SWGoH community who has supported the bot, be it through contributing in any way, or by simply just using it.
                <br/>
                <br/>
                This bot started off  with me trying to make the mods on <a href="apps.crouchingrancor.com/">crouchingrancor.com</a> more accesible to my guild and I, since we were always on Discord anyways. It has since grown way past any expectations I'd had when I started working on it, and grown to be more of an overall info source on the game, making it so you don't have to check the game or <a href="https://swgoh.gg">swgoh.gg</a> as often.
            </p>
            <hr>
            <footer>
                <%- include("../partials/footer") -%>
            </footer>
        </div> <!-- /container -->
    </body>
</html>
