<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>

        <title>SWGoHBot Commands</title>
    </head>

    <body>
        <header>
            <% include ../partials/nav %>
        </header>


        <div class="page-wrapper">
            <div class="page-commands">
                <div class="columns centered">
                    <div class="column w20">
                        <h3 class="cat-header">Command Categories</h3>
                        <hr/>
                        <div class="navigation-menu">
                            <ul class="menu-list">
                                <li><a class="nav-link active" id="tab-admin"     href="#admin"    >Admin</a></li>
                                <li><a class="nav-link"        id="tab-misc"      href="#misc"     >Misc</a></li>
                                <li><a class="nav-link"        id="tab-star-wars" href="#star-wars">Star Wars</a></li>
                                <li><a class="nav-link"        id="tab-swgoh"     href="#swgoh"    >SWGoH</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column w60 tab-content">
                        <div class="tab-pane active" id="admin">
                            <div class="command-header-container columns">
                                <div class="column w25 command-header">Command</div>
                                <div class="column w45 command-header hide-mobile">Description</div>
                                <div class="column w30 command-header hide-mobile">Usage</div>
                            </div>
                            <div class="command-container columns multiline">
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">checkactivity</div>
                                        <div class="column w45">Shows how recently people in your server have been active. <strong><u>Needs to be turned on via setconf</u></strong></div>
                                        <div class="column w30">;checkactivity <code>[user] [-sort name] [-role role] [-time hours]</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">nickname</div>
                                        <div class="column w45">Changes the bot's nickname on the server.</div>
                                        <div class="column w30">;nickname <code>&lt;name&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">setconf</div>
                                        <div class="column w45">Used to set the bot's config settings.</div>
                                        <div class="column w30">;setconf <code>&lt;key&gt; &lt;value&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">showconf</div>
                                        <div class="column w45">Shows the current configs for your server.</div>
                                        <div class="column w30">;showconf</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="misc">
                            <div class="command-header-container columns">
                                <div class="column w25 command-header">Command</div>
                                <div class="column w45 command-header hide-mobile">Description</div>
                                <div class="column w30 command-header hide-mobile">Usage</div>
                            </div>
                            <div class="command-container columns multiline">
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">acronyms</div>
                                        <div class="column w45">Helps to provide a lookup for the acronyms commonly used in Star Wars: Galaxy of Heroes.</div>
                                        <div class="column w30">;acronyms <code>&lt;acronymToLookUp&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">event create</div>
                                        <div class="column w45">Create scheduled events.</div>
                                        <div class="column w30">;event create <code>&lt;eventName&gt; &lt;eventDay&gt; &lt;eventTime&gt; &lt;eventMessage&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">event create (JSON)</div>
                                        <div class="column w45">Create events using a json format for input.</div>
                                        <div class="column w30">;event create <code>&lt;-json&gt; &lt;jsonEvents&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">event view</div>
                                        <div class="column w45">See all events that are active</div>
                                        <div class="column w30">;event view</div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">event delete</div>
                                        <div class="column w45">Delete an event.</div>
                                        <div class="column w30">;event delete <code>&lt;eventName&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">event trigger</div>
                                        <div class="column w45">Trigger an event as if it went off, but whenever you want.</div>
                                        <div class="column w30">;event trigger <code>&lt;eventName&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">help</div>
                                        <div class="column w45">Get a list of all the available commands.</div>
                                        <div class="column w30">;help</div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">help command</div>
                                        <div class="column w45">View the info for a specific command.</div>
                                        <div class="column w30">;help <code>&lt;commandName&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">info</div>
                                        <div class="column w45">Shows useful info pertaining to the bot.</div>
                                        <div class="column w30">;info</div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">poll create</div>
                                        <div class="column w45">Create a poll.</div>
                                        <div class="column w30">;poll create <code>&lt;question&gt; | &lt;opt1&gt; | &lt;opt2&gt; | [...] | [opt10]</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">poll</div>
                                        <div class="column w45">Choose an option in a poll.</div>
                                        <div class="column w30">;poll <code>&lt;choice&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">poll view</div>
                                        <div class="column w45">View the currently active poll.</div>
                                        <div class="column w30">;poll view</div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">poll close</div>
                                        <div class="column w45">Close the currently active poll and view the final results.</div>
                                        <div class="column w30">;poll close</div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">register</div>
                                        <div class="column w45">Register your ally code with your discord ID (Only works if you don't have one registered already).</div>
                                        <div class="column w30">;register <code> [user] &lt;allycode&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">resources</div>
                                        <div class="column w45">Shows useful SWGoH resources (Bots, websites, etc.).</div>
                                        <div class="column w30">;resources <code>&lt;Bots | Game Changers | Websites&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">shardtimes</div>
                                        <div class="column w45">View the list of currently registered shardmates.</div>
                                        <div class="column w30">;shardtimes <code>[view]</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">shardtimes add</div>
                                        <div class="column w45">Add a user to the list.</div>
                                        <div class="column w30">;shardtimes add <code>&lt;me|userID|mention&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">shardtimes remove</div>
                                        <div class="column w45">Remove a user from the list.</div>
                                        <div class="column w30">;shardtimes remove <code>&lt;me|userID|mention&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">time</div>
                                        <div class="column w45">Check the time based on the given timezone.</div>
                                        <div class="column w30">;time <code>&lt;timezone;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">userconf view</div>
                                        <div class="column w45">Show your current config options.</div>
                                        <div class="column w30">;userconf <code>view</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">userconf allycode</div>
                                        <div class="column w45">Add/ remove/ edit your registered ally code(s).</div>
                                        <div class="column w30">;userconf <code>&lt;add|remove|makeprimary&gt; &lt;allycode&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">userconf defaults</div>
                                        <div class="column w45">Set default flags for commands.</div>
                                        <div class="column w30">;userconf <code> defaults &lt;set|clear&gt; &lt;commandName&gt; &lt;flags&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">userconf arenaAlert enableDMs <a class="premium" href="https://www.patreon.com/bePatron?u=8423320">(Premium Users)</a></div>
                                        <div class="column w45">Toggle DM alerts for just your primary allycode, all allycodes, or none.</div>
                                        <div class="column w30">;userconf arenaAlert <code>enableDMs &lt;all|primary|off&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">userconf arenaAlert arena <a class="premium" href="https://www.patreon.com/bePatron?u=8423320">(Premium Users)</a></div>
                                        <div class="column w45">Choose which arena's alerts you want.</div>
                                        <div class="column w30">;userconf arenaAlert <code>arena &lt;both|fleet|char&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">userconf arenaAlert payoutResult <a class="premium" href="https://www.patreon.com/bePatron?u=8423320">(Premium Users)</a></div>
                                        <div class="column w45">Send you a DM with your final payout result.</div>
                                        <div class="column w30">;userconf arenaAlert <code>payoutResult &lt;on|off&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">userconf arenaAlert payoutWarning <a class="premium" href="https://www.patreon.com/bePatron?u=8423320">(Premium Users)</a></div>
                                        <div class="column w45">Send you a DM the set number of min before your payout. 0 to turn it off.</div>
                                        <div class="column w30">;userconf arenaAlert <code>payoutWarning &lt;0-1439&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">userconf lang language</div>
                                        <div class="column w45">Set personal localization settings for bot text.</div>
                                        <div class="column w30">;userconf <code>lang language &lt;langChoice&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">userconf lang swgohLanguage</div>
                                        <div class="column w45">Set personal localization settings for game text (character abilities/ names/ etc.</div>
                                        <div class="column w30">;userconf <code>lang swgohLanguage &lt;langChoice&gt;</code></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="star-wars">
                            <div class="command-header-container columns">
                                <div class="column w25 command-header">Command</div>
                                <div class="column w45 command-header hide-mobile">Description</div>
                                <div class="column w30 command-header hide-mobile">Usage</div>
                            </div>
                            <div class="command-container columns multiline">
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">activities</div>
                                        <div class="column w45">Shows the daily guild activities</div>
                                        <div class="column w30">;activities [dayOfWeek]</div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">arenarank</div>
                                        <div class="column w45">Shows the (approximate) highest rank you can get if you win every arena battle.</div>
                                        <div class="column w30">;arenarank <code>&lt;currentRank&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">challenges</div>
                                        <div class="column w45">Shows the daily guild challenges.</div>
                                        <div class="column w30">;challenges <code>[dayOfWeek]</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">character</div>
                                        <div class="column w45">Shows info for the specified character.</div>
                                        <div class="column w30">;character <code>&lt;character&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">charactergear</div>
                                        <div class="column w45">Shows the gear requirements for the specified character/ lvl.</div>
                                        <div class="column w30">;charactergear <code>&lt;char&gt; [gearLvl]</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">faction</div>
                                        <div class="column w45">Shows the list of characters in the specified faction.</div>
                                        <div class="column w30">;faction <code>&lt;faction&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">grandarena</div>
                                        <div class="column w45">Compares 2 players' stats &amp; characters for Grand Area.</div>
                                        <div class="column w30">;grandarena <code>&lt;allycode1&gt; &lt;allycode2&gt; [-faction faction] [character1] | [character2] | ...</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">mods</div>
                                        <div class="column w45">Shows some suggested mods for the specified character.</div>
                                        <div class="column w30">;mods <code>&lt;character&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">modsets</div>
                                        <div class="column w45">Shows how many of each kind of mod you need for a set.</div>
                                        <div class="column w30">;modsets</div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">randomchar</div>
                                        <div class="column w45">Picks up to 5 random characters to form a squad.</div>
                                        <div class="column w30">;randomchar <code>[numberOfChars]</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">ships</div>
                                        <div class="column w45">Shows the info about the specified ship.	</div>
                                        <div class="column w30">;ships <code>&lt;ship|character&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">squads</div>
                                        <div class="column w45">Shows characters/ squads that are useful for various events.</div>
                                        <div class="column w30">;squads <code>[users] &lt;event&gt; &lt;phaseNum&gt;</code></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="swgoh">
                            <div class="command-header-container columns">
                                <div class="column w25 command-header">Command</div>
                                <div class="column w45 command-header hide-mobile">Description</div>
                                <div class="column w30 command-header hide-mobile">Usage</div>
                            </div>
                            <div class="command-container columns multiline">
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">currentevents</div>
                                        <div class="column w45">Shows up to [num] upcoming events.</div>
                                        <div class="column w30">;currentevents <code>[num]</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">farm</div>
                                        <div class="column w45">Shows a list of available farming locations for the specified character.</div>
                                        <div class="column w30">;farm <code>&lt;character&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">guilds</div>
                                        <div class="column w45">Shows an overview of a guild based on the entered allycode.</div>
                                        <div class="column w30">;guilds <code>[user]</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">guilds -roster</div>
                                        <div class="column w45">Shows a list of all players in a guild.</div>
                                        <div class="column w30">;arenarank <code>&lt;-roster&gt; [-sort name|rank|allycode|gp] [-reg]</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">guild -roster -allycode</div>
                                        <div class="column w45">Shows the roster of a guild, but listed with their allycodes.</div>
                                        <div class="column w30">;challenges <code>&lt;-roster&gt; &lt;-alycode&gt; [-reg]</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">guildsearch</div>
                                        <div class="column w45">Shows the rarity & gp of the selected character for everyone in the guild</div>
                                        <div class="column w30">;guildsearch <code> [user] &lt;character&gt; [-ship] [-reverse] [-sort name|gp] [starLvl] [-top X]</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">guildsearch -stats</div>
                                        <div class="column w45">Shows the list of characters sorted by the given stat.</div>
                                        <div class="column w30">;guildsearch <code>[user] &lt;-character&gt; &lt;-stats stat&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">guildsearch -mods</div>
                                        <div class="column w45">Compare some of the more important mods across your entire guild.</div>
                                        <div class="column w30">;guildsearch <code>[user] [-sort sortBy]&lt;-mods&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">guildsearch -gear</div>
                                        <div class="column w45">Compare the count of upper gear levels across your entire guild.</div>
                                        <div class="column w30">;guildsearch <code>[user] [-sort gearLvl]&lt;-gear&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">guildsearch -stars</div>
                                        <div class="column w45">Compare the count of upper gear levels across your entire guild.</div>
                                        <div class="column w30">;guildsearch <code>[user] &lt;-stars&gt; [-sort starLvl] [-ship]</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">myarena</div>
                                        <div class="column w45">Show user's current arena ranks and their squads.</div>
                                        <div class="column w30">;myarena <code>[user]</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">mycharacter</div>
                                        <div class="column w45">Shows the general stats about the selected character.</div>
                                        <div class="column w30">;mycharacter <code>[numberOfChars]</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">mymods</div>
                                        <div class="column w45">Shows the mods that you have equipped on the selected character.</div>
                                        <div class="column w30">;mymods <code>[user] &lt;character&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">mymod -best</div>
                                        <div class="column w45">Shows the characters with the top X stat from mods.</div>
                                        <div class="column w30">;mymods <code>[user] &lt;-best stat&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">mymod -total</div>
                                        <div class="column w45">Shows the characters with the top X stat including mods.</div>
                                        <div class="column w30">;mymods <code>[user] &lt;-total stat&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">myprofile</div>
                                        <div class="column w45">Show user's general stats.</div>
                                        <div class="column w30">;myprofile <code>[user]</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">need</div>
                                        <div class="column w45">Shows your progress towards 7* characters from a faction or shop.</div>
                                        <div class="column w30">;need <code>[user] &lt;faction|shop|battle|keyword&gt;</code></div>
                                    </div>
                                </div>
                                <div class="command-row w100 column">
                                    <div class="columns">
                                        <div class="column w25">raiddamage</div>
                                        <div class="column w45">Convert damage percent or amount to the other.</div>
                                        <div class="column w30">;raiddamage <code>&lt;raid&gt; &lt;phase&gt; &lt;damage&gt;</code></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


		<footer>
			<% include ../partials/footer %>
		</footer>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	</body>
</html>

<style>
.nav-tabs .nav-item .nav-link {
	display: block;
	padding: .5rem .9rem;
}
</style>

<script type="text/javascript">
	// If someone it trying to link to a specific tab
	if (window.location.hash) {
		var hash = window.location.hash;
		hash = hash.replace("#", "");

		// Make sure it's a valid id, else just go to the default one
		if ($("#"+hash).length && $(".nav-link#tab-" + hash).length) {
			//  First remove class "active" from currently active tab & table
			$(".nav-link").removeClass('active');
			$(".tab-pane").removeClass("active");

			// Add the active class to the appropriate ones
			$(".nav-link#tab-" + hash).addClass("active")
			$("#" + hash).addClass("active");
		}
	}

$(document).ready(function() {
	//  When user clicks on tab, show the corresponding table
	$(".navigation-menu .menu-list a").click(function() {
		//  Here we get the href value of the selected tab
		var selected_tab = $(this).attr("href");
		window.location.hash = selected_tab;

		//  First remove class "active" from currently active tab & table
		$(".nav-link").removeClass('active');
		$(".tab-pane").removeClass("active");

		//  Now add class "active" to the selected/clicked tab & table
		$(this).addClass("active");
		$(selected_tab).addClass("active");

		// Return false so it doesn't scroll when clicked
		return false;
	});
});
</script>
