<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") -%>
    </head>
    <body>
        <header>
            <%- include("../partials/nav") -%>
        </header>

        <main>
            <!-- Main area with some about and links  -->
            <div class="page-wrapper">
                <section id="hero" aria-label="Introduction">
                    <div class="banner w100 centered">
                        <div class="banner-about w40">
                            <h2>About <strong>SWGoHBot</strong></h2>
                            <p>SWGoHBot is a bot for your discord server that brings many features such as mod lookup, guild-wide character searching, personal character stats, arena tracking, and much more that will help to simplify the SWGoH experience for you and your guild.
                            <br>
                            <br>
                            SWGoHBot is active on over <strong>10,000</strong> servers, we welcome you to try it out and hope you enjoy!
                            </p>
                        </div>
                        <div class="banner-buttons w20">
                            <ul>
                                <li><a class="front-button" href="/server">Join us on Discord</a></li>
                                <li><a class="front-button" href="/invite">Invite SWGoHBot to your server</a></li>
                                <li>
                                    <a class="front-button github-button" href="https://github.com/jmiln/swgohbot">
                                        <img src="/images/github-mark.png" alt="Github Logo Image">
                                        <img src="/images/github-logo.png" alt="Github Logo Text">
                                    </a>
                                </li>
                                <li>
                                    <a class="front-button premium-button" href="https://www.patreon.com/bePatron?u=8423320">
                                        <img src="/images/Patreon_White.png" alt="Patreon Logo" width="40%">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>

            <!-- Cards to show off what the bot can do -->
            <section id="features" aria-label="Bot Features">
                <div class="card-container" >
                    <div class="card">
                        <div class="img-container">
                            <img src="/images/myCharacter.png" alt="MyCharacter command example" />
                        </div>
                        <div class="card-desc">
                            <span class="desc-text">Check your character's stats</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-container">
                            <img src="/images/arenaAlerts.png" alt="Arena Alert example" />
                        </div>
                        <div class="card-desc">
                            <span class="desc-text">Get updates when your rank drops</span><br>
                            <a class="premium" href="https://www.patreon.com/bePatron?u=8423320">* Premium feature</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-container">
                            <img src="/images/guildSearch.png" alt="GuildSearch command example" />
                        </div>
                        <div class="card-desc">
                            <span class="desc-text">Check your guild's characters</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-container">
                            <img src="/images/myProfile.png" alt="MyProfile example" />
                        </div>
                        <div class="card-desc">
                            <span class="desc-text">See your overall account stats</span>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Footer -->
        <%- include("../partials/footer") -%>
    </body>
</html>
