<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <header>
            <% include ../partials/nav %>
        </header>

        <div class="jumbotron" style="background-color: #2b2b2b">
            <div class="container">
                <h1 class="display-3">Hello!</h1>
                <p>This bot is made to help players of EA/CG's game Star Wars Galaxy of Heroes, by working to make the information more accessible as well as providing some other useful utilities.  <strong>Currently active in over 3,800 servers!</strong></p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 style="text-align: center;">Support Server</h2>
                    <p style="text-align:center;">
                        <a class="discord-widget" href="https://discord.gg/FfwGvhr" title="Join us on Discord" align="center">
                            <img src="https://discordapp.com/api/guilds/327968689175658496/embed.png?style=banner3&">
                        </a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2 style="text-align: center;">Github</h2>
                    <p style="text-align: center;">If you'd like to contribute to the bot's developement, you can find the repo <a href="https://github.com/jmiln/SWGoHBot">HERE<a/>, and a list of what's being worked on <a href="https://github.com/jmiln/SWGoHBot/projects/2">HERE<a/></p>
                </div>
                <div class="col-md-4">
                    <h2 style="text-align: center;">Support</h2>
                    <p style="text-align: center;">If you'd like to help keep the server running that the bot's on, I do have a patreon page at <a href="https://www.patreon.com/bePatron?u=8423320" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script><p/>
                </div>
            </div>

            <hr>
            <footer>
                <% include ../partials/footer %>
            </footer>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </body>
</html>

