<!DOCTYPE html>
<link href="/css/test.css" rel="stylesheet" type="text/css">
<html lang="en">
    <style>

    </style>
    <head>
        <%- include("../partials/head") -%>
    </head>
    <body>
        <header>
            <nav class="navbar" id="navbar">
                <div class="navbar-brand">
                    <img src="https://swgohbot.com/images/botAvatar.png" width="50" height="50" >
                    <a class="hide-mobile" href="/">SWGoH Bot</a>
                </div>
                <a class="nav-btn btn-outline-invite hide-mobile"  href="/invite">Invite Bot</a>
                <a class="nav-btn btn-outline-patreon hide-mobile" href="https://www.patreon.com/bePatron?u=8423320">Get Premium</a>
                <a class="nav-links hide-mobile" href="/">Home</a>
                <a class="nav-links hide-mobile" href="/commands">Commands</a>
                <a class="nav-links hide-mobile" href="/faqs">FAQs</a>
                <a class="nav-links hide-mobile no-border" href="/changelog">Changelog</a>
                <span class="navbar-toggle" onclick="toggleNav()">
                    <i class="fa fa-bars"></i>
                </span>

                <div class="nav-right">
                    <% if(user) { %>
                        <a href="/profile" class="nav-item user-avatar">
                            <img src="<%= user.avatarURL %>" width="40" height="40" alt="Your Discord avatar">
                        </a>
                        <a href="/profile" class="nav-item username hide-mobile">
                            <%= user.username %>
                        </a>
                        <a class="nav-item logout-btn" href="/logout"><i class="fa fa-sign-out"></i></a>
                    <% } else { %>
                        <a href="/login" class="nav-item login-btn"><i class="fa fa-user"></i>&nbsp;Login</a></li>
                    <% } %>
                </div>
            </nav>
        </header>

        <!-- Main area with some about and links  -->
        <div class="page-wrapper">
            <div class="banner w100 centered">
                <div class="banner-about w40">
                    <h2>About <strong>SWGoHBot</strong></h2>
                    <p>SWGoHBot is a bot for your discord server that brings many features such as mod lookup, guild-wide character searching, personal character stats, arena tracking, and much more that will help to simplify the SWGoH experience for you and your guild.
                    <br>
                    <br>
                    SWGoHBot is active on over <strong>7,500</strong> servers, we welcome you to try it out and hope you enjoy!
                    </p>
                </div>
                <div class="banner-buttons w20">
                    <ul>
                        <li><a class="front-button" href="/server">Join us on Discord</a></li>
                        <li><a class="front-button" href="/invite">Invite SWGoHBot to your server</a></li>
                        <li>
                            <a class="front-button github-button" href="https://github.com/jmiln/swgohbot">
                                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" width="15%">
                                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png" width="45%">
                            </a>
                        </li>
                        <li>
                            <a class="front-button premium-button" href="https://www.patreon.com/bePatron?u=8423320">
                                <img src="https://swgohbot.com/images/Patreon_White.png" width="40%">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Cards to show off what the bot can do -->
        <div class="card-container" >
            <div class="card" style="background-color: #2b2b2b;">
                <div class="img-container">
                    <img src="https://swgohbot.com/images/myCharacter.png" alt="Arena Alert example" />
                </div>
                <div class="card-desc">
                    <span class="desc-text">Check your character's stats</span>
                </div>
            </div>
            <div class="card" style="background-color: #2b2b2b;">
                <div class="img-container">
                    <img src="https://swgohbot.com/images/arenaAlerts.png" alt="Arena Alert example" />
                </div>
                <div class="card-desc">
                    <span class="desc-text">Get updates when your rank drops</span></br>
                    <a class="premium" href="https://www.patreon.com/bePatron?u=8423320">* Premium feature</a>
                </div>
            </div>
            <div class="card" style="background-color: #2b2b2b;">
                <div class="img-container">
                    <img src="https://swgohbot.com/images/guildSearch.png" alt="Arena Alert example" />
                </div>
                <div class="card-desc">
                    <span class="desc-text">Check your guild's characters</span>
                </div>
            </div>
            <div class="card" style="background-color: #2b2b2b;">
                <div class="img-container">
                    <img src="https://swgohbot.com/images/myProfile.png" alt="Arena Alert example" />
                </div>
                <div class="card-desc">
                    <span class="desc-text">See your overall account stats</span>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer  class="footer">
            <hr width="80%">
            <div class="container">
                <%- include("../partials/footer") -%>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </body>
</html>
