<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") -%>
    </head>

    <body>
        <header>
            <%- include("../partials/nav") -%>
        </header>

        <div class="column w80 autoMargin">
            <h3>Introduction and accepting of ToS</h3>
            By inviting and using the SWGoHBot bot you automatically agree to our Terms of Service below.
            By accepting SWGoHBot's Terms of Service ("ToS") you agree that you've agreed to <a href="https://discord.com/terms">Discords Terms of Service</a> and
            meet every requirement mentioned there.
            You ("you", "your") also agree that you've read our <a href="https://swgohbot.com/privacyPolicy">Privacy Policy</a> and agreed to it.
            <br>
            <h3>Rights to use our service</h3>
            You have the right to use our service as long as you don't use it in any way that would break <a href="https://discord.com/terms">Discords ToS</a> or
            the rules of the guild ("server") you're in. We reserve the right to permanently block you from our services, deny support and/or services or report you to discord.
            <br>
            We are not responsible for content generated via our bot by users that is violating Discords ToS in any way.
            <footer>
                <%- include("../partials/footer") -%>
            </footer>
        </div>
    </body>
</html>
